[Unit]
PartOf=userlogin@%i.target
Description=Package Manager Installer Signal Agent on User Session

[Service]
User=%i
Environment=DBUS_SESSION_BUS_ADDRESS=kernel:path=/sys/fs/kdbus/%i-user/bus;unix:path=/run/user/%i/bus
Environment=XDG_RUNTIME_DIR=/run/user/%i
SmackProcessLabel=User
Type=oneshot
ExecStart=/usr/bin/pkgmgr-installer-signal-agent
