[Unit]
PartOf=userlogin@%i.target
DefaultDependencies=no
After=systemd-logind.service
[Socket]
SocketUser=%i
ListenStream=/run/pkgmgr/agent/%i
DirectoryMode=0777
ExecStartPost=/usr/bin/chmod 0777 /run/pkgmgr/agent/%i

[Install]
WantedBy=user-sockets@.target
